.vscode/**
**/*.ts
**/*.map
pnpm-lock.yaml
.prettierignore.yaml
.gitignore
*.vsix
**/tsconfig.json
**/tsconfig.base.json
node_modules/**
server/**
!server/target/dist
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**